#main-header {
  margin-top: 60px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #d79a26;
  background-image: url("../images/transparent-background.png");
  padding-bottom: 1em;
}

#header-name {
  padding: 0px;
  margin: 0.5em;
  font-weight: normal;
  font-size: 1.60rem;
}

#avatar {
  box-sizing: border-box;
}