#main-header {
  margin-top: 60px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #DBC762;
  background-image: url("../images/honey-im-subtle.png");
}

#header-name {
  padding: 0px;
  margin-top: 0px;
}

#avatar {
  box-sizing: border-box;
}