nav {
  box-sizing: border-box;
  display: flex;
  background-color: #d79a26;
  background-image: url("../images/redox-02.png");
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: auto;
  }

/* right-navbar text/button styling */
span {
  color: #ffffff;
}

/* left-navbar Tweeter logo styling */
#logo {
 font-family: "Bungee", sans-serif;
 font-size: 2em;
}

/* downwards arrow icon in right-nav styling */
p.arrow {
  color: red;
  margin: 0px;
}

/* right-navbar styling */
.right-nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}