.posted-tweets {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;
  background-color: transparent;
}

article.tweet {
  width: 100%;
  border: 4px solid grey;
  padding: 0.5em;
  margin: 1em;
}

article.tweet:hover {
  box-shadow: 10px 10px #cfcfe6;
}

article.tweet header {
  margin: 0px;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  font-weight: 300;
  padding-right: 1em;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  opacity: 0.60;
  color: #cfcfe6;
}

.avatar {
  padding-right: 1em;
  padding-left: 0.5em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: large;

}

footer > * {
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.50em;
}

p.tweet-content {
  padding: 1em;
  border-bottom: 4px solid grey;
  font-weight: 300;
  margin-bottom: 0.50em;
  color: grey;
}

.tweet-actions > * {
  padding-left: 10px;
  color: #4056a1;
}

i.tweet-actions:hover {
  color: #ead45f;
}

