/* timeline styling */
.posted-tweets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding: 0.5em;
  background-color: transparent;
}

/* individual tweet styling */
article.tweet {
  width: 100%;
  border: 4px solid grey;
  padding: 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

article.tweet:hover {
  box-shadow: 10px 10px #cfcfe6;
}

article.tweet header {
  margin: 0px;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  font-weight: 300;
  padding-right: 1em;
  font-size: large;
}

/* avatar and tweet-poster name styling */
.left-nav {
  display: flex;
  align-items: center;
}

.avatar {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* tweet-poster handle styling */
.right-nav {
  opacity: 0.60;
  color: #cfcfe6;
}

/* tweet article footer styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: medium;
}

footer > * {
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.50em;
}

/* tweet text styling */
p.tweet-content {
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0;
  border-bottom: 4px solid grey;
  font-weight: 300;
  margin-bottom: 0.25em;
  color: grey;
  word-wrap: break-word;
}

/* tweet action icons styling (flag, retweet, like) */
.tweet-actions > * {
  padding-left: 10px;
  color: #4056a1;
}

i.tweet-actions:hover {
  color: #ead45f;
}

