#to-top {
  cursor: pointer;
  border-radius: 100px;
  width: 1.6em;
  height: 1.6em;
  font-size: 1.2em;
  padding: 0%;
  align-self: flex-end;
  position: fixed;
  bottom: 1%;
  right: 4%;
  color: #ffffff;
  background-color: red;
  border: none;
}

html {
  scroll-behavior: smooth;
}